<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
    This customErrors element determines whether informative error messages are
    show or not.  Informative error messages are good for debugging but are
    a security risk on a production server.
    For now we are treating PAWS as a development server, so customErrors is
    set Off to show informative error messages.
    -->
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
	</compilation>
    <httpRuntime requestValidationMode="2.0"/>
		<authentication mode="Forms">
			<forms loginUrl="Admin_Tools/Login.aspx" defaultUrl="Admin_Tools/POIs.aspx">
				<credentials passwordFormat="SHA1">
					<user name="dills" password="9431DF53746116FBD2BCABB03CDBEF1539FCBE32"/>
				</credentials>
			</forms>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
